@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(1deg, rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(244, 213, 141, 1) 89%, rgba(244, 213, 141, 1) 40%);
    height: 1500px;
     -ms-overflow-style: none;  
  scrollbar-width: none;
    background-repeat: no-repeat;
}

.header {
    background-color: #F4D58D;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.container {
    width: 100%;
    align-self: center;
    display: flex;
}


.navbar {
    list-style: none;
    display: flex;
    gap: 20%;
    align-items: center;


}

.navbar li a {
    display: flex;
    text-decoration: none;
    color: #001427;
    font-family: "Roboto Slab", serif;
}

.logo {
    display: flex;
    width: 30%;
    align-self: flex-start;
    margin-right: 50%;
}

.header .logo img {
    display: flex;
    align-self: center;
    align-items: center;
    max-width: 230px;
    display: flex;
}

.header .logo2 {
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    display: flex;
    align-self: center;
    align-items: center;
    position: absolute;
    letter-spacing: 4px;
    color: #8D0801;
    color: inherit;
}

.header .logo2 a {
    text-decoration: none;
    color: #8D0801;
}

.containerHeader {
    margin-right: 14%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 6px;
    padding: 0;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: #001427;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
}

.dropdown-content li a:hover {
    background-color: #2A7B9B;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.mainCard {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.mainCard h1 {
    color: #2A7B9B;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.mainCard p{
    font-size: 20px;
}

hr {
    width: 25%;
    border: #8D0801 solid 2px;
}

.graficos {

    border-radius: 50% 20% / 10% 40%;
    padding: 30px 30px;
    background: #2A7B9B;
    background: linear-gradient(114deg, rgba(42, 123, 155, 1) 25%, rgba(141, 8, 1, 1) 100%);
    border: #001427 2px solid;
    width: 90%;
    height: 300px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
}

.usuario-card {
    background-size: 100%;
    background-image: url("/assets/imgs/vinyl2.png");
    border-radius: 50px;
    padding: 35px;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 165px;
    height: 165px;
}



.nome-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nome-usuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #F4D58D;
    background: #f4d58d;
}

.nome-usuario p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #8D0801;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(244, 213, 141, 1) 100%);
    padding: 0 10px;
    border-radius: 3px;
    font-weight: bold;
}


.nome-usuario h1 {
    margin: 0;
    padding: 0 10px;
    font-size: 18px;
    color: #8D0801;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(244, 213, 141, 1) 100%);
    border-radius: 5px;
    font-weight: bold;
}

.nome-usuario label {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    color: #2A7B9B;
}

.mainGraficos {
    display: flex;
    justify-content: center;
}

.midGraficos {
    margin-top: 50px;
    justify-content: center;
    gap: 150px;
    display: flex;

}
.midGraficos hr{
    width: 80%;
    background-color: #8D0801;
}

.container1{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container1 h1{
    color: #2A7B9B;
    font-size: 35px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.graficos2 {
    display: flex;
    justify-content: center;
    align-items: center;
     background: #2A7B9B;
    background: linear-gradient(114deg, rgba(42, 123, 155, 1) 25%, rgba(141, 8, 1, 1) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    padding: 32px;
    border: #001427 solid 2px;
    margin: 30px auto;
    width: 600px;
}

#graficoGenero {
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 49%, rgba(244, 213, 141, 1) 100%);
    border-radius: 12px;
    border: #201e1a 1px solid;
    padding: 16px;
}


.graficos3 {
        display: flex;
    justify-content: center;
    align-items: center;
     background: #2A7B9B;
    background: linear-gradient(114deg, rgba(42, 123, 155, 1) 25%, rgba(141, 8, 1, 1) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    padding: 32px;
    border: #001427 solid 2px;
    margin: 30px auto;
    width: 600px;
}

#graficoFaixaAnos{
        background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 49%, rgba(244, 213, 141, 1) 100%);
    border-radius: 12px;
    border: #201e1a 1px solid;
    padding: 16px;

}
.container2 {
       text-align: center;
    display: flex;
    flex-direction: column;
}

.container2 h1{
    color: #2A7B9B;
    font-size: 35px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    text-align: center;
}












footer {
  font-family: "Inter", sans-serif;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #F4D58D;
  border-top: 5px solid #8D0801 ;
}

footer img{
 align-self: center;
  width: 10%;
}

footer ul {
 list-style: none;
  
}
.footer-content {
  text-align: center;

}
.footer-content p{
  text-align: center;
  margin-left: 0px;
  font-weight: bold;
}
.footer li a {
  font-style: italic;
  text-align: center;
  text-decoration: none;
  color: #001427;
  margin-right: 50px;
}
/* .usuario-card p:last-child {
    color: #8D0801;
    font-weight: bold;
    margin-top: 8px;
} */