

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #2A7B9B;
background: linear-gradient(1deg, rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(244, 213, 141, 1) 89%, rgba(244, 213, 141, 1) 40%);
  height: 1400px;
  background-repeat: no-repeat;
}

.header {
  background-color: #F4D58D;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}

.container {
  width: 100%;
  align-self: center;
  display: flex;
}


.navbar {
  list-style: none;
  display: flex;
  gap: 20%;
  margin-left: 20%;
  align-items: center;
  
  
}

.navbar li a {
  display: flex;
  text-decoration: none;
  color: #001427;
  font-family: "Roboto Slab", serif;
}

.logo{
  display: flex;
  width: 30%;
  align-self:flex-start;
  margin-right: 50%;
}

.header .logo  img{
  display: flex;
  align-self: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.header .logo2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  display: flex;
  align-self: center;
  align-items: center;
  position: absolute;
  letter-spacing: 4px;
  color: #8D0801;
  color: inherit;
}

.header .logo2 a {
  text-decoration: none;
  color: #8D0801;
}

.mainCard {
  display: flex;
  padding-top: 100px;
  position: absolute;
  margin-left: 15%;  display: flex;
  position: absolute;
  margin-top: 0%;
  margin-left: 12%;
}


.textoMain {

  color: #8D0801;
  font-weight: bold;
  font-size: 100px;
  font-family: "Inter", sans-serif;
  
}

.starsMain {
  display: flex;
  margin-top: 280px;
  margin-left: -30px;
  position: absolute;
  width: 80%;
}

.starsMain img{
  width: 100%;
  display: flex;

}


.buttonMainCard {
  display: flex;
  position: absolute;  
  padding: 10px;
  margin-top: 30%;
  margin-left: 12.2%;
  border-radius: 6px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color:#F4D58D;
  background-color: #8D0801;
}
.buttonMainCard a{
  text-decoration: none;
  color: #ffb300;
}


.mainImage  img{

  margin-top: 3%;
  margin-left: 980px;
  width: 40%;
}
.mainImage2{
  max-width: 47%;
  align-items: center;
  position: absolute;
}
.mainImage2 img{
  width: 90%;
  margin-left: 3.5%;
  margin-top: 3%;
 
  top: 300px;
}

.mainImage2 p{
  display: flex;
  margin-left: 50%;

}

.imgText2 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 110px;
  color: #2A7B9B;
  text-align: center;

}

.imgText2 .dois {

}



footer {
  font-family: "Inter", sans-serif;
  width: 100%;
  margin-bottom: 0;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  background-color: #F4D58D;
}

footer img{
 align-self: center;
  width: 10%;
}

footer ul {
  list-style: none;
  
}

footer p {
  margin-left: 40px;
}
.footer-content {
  text-align: center;
}
.footer li a {
    text-align: center;
   text-decoration: none;
   color: #001427;
}




.social {
  display: flex;
  font-family: "Inter", sans-serif;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 60%;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
  background-color: #2A7B9B;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
