

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #F4D58D;
  padding: 4px;
  display: flex;
  height: 70px;
}

.container {
  width: 50%;
  align-content: center;
  
}


.navbar {
  list-style: none;
  display: flex;
  gap: 55px;
  margin-left: 300px;
  
  
}

.navbar li a {
  text-decoration: none;
  color: #001427;
  font-family: "Roboto Slab", serif;
}

.logo{
  width: 30%;
}

.header .logo  img{
  width: 40%;
  display: flex;
}
.header .logo2{
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  width: 10%;
  display: flex;
  margin-left: 405px;
  align-self: center;
}