@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(1deg, rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(244, 213, 141, 1) 89%, rgba(244, 213, 141, 1) 40%);
    height: 1000px;
     -ms-overflow-style: none;  
  scrollbar-width: none;
    background-repeat: no-repeat;
}

.header {
    background-color: #F4D58D;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.container {
    width: 100%;
    align-self: center;
    display: flex;
}


.navbar {
    list-style: none;
    display: flex;
    gap: 20%;
    margin-left: 15%;
    align-items: center;


}

.navbar li a {
    display: flex;
    text-decoration: none;
    color: #001427;
    font-family: "Roboto Slab", serif;
}

.logo {
    display: flex;
    width: 30%;
    align-self: flex-start;
    margin-right: 50%;
}

.header .logo img {
    display: flex;
    align-self: center;
    align-items: center;
    max-width: 230px;
    display: flex;
}

.header .logo2 {
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    display: flex;
    align-self: center;
    align-items: center;
    position: absolute;
    letter-spacing: 4px;
    color: #8D0801;
    color: inherit;
}

.header .logo2 a {
    text-decoration: none;
    color: #8D0801;
}


/* Adicione ao seu arquivo CSS */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 6px;
    padding: 0;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: #001427;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
}

.dropdown-content li a:hover {
    background-color: #2A7B9B;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.adicionarAlbum {

    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", sans-serif;
}

.containerAlbum {
    display: flex;
    border: #8D0801 solid 2px;

    padding: 40px;
    align-self: center;
    justify-content: center;
    background-color: #F4D58D;
    width: 25%;
    border-radius: 11px;
    flex-direction: column;
}

.containerAlbum input {
    border-radius: 5px;
    border: #001427 2.5px solid;
    height: 25px;

}

.containerAlbum input[type=file]{
    border: none;
}

.containerAlbum #ja_escutei{
    border: black 2px solid;;
}

.containerAlbum select{
    background-color: white;
    height: 30px;
    border-radius: 5px;
    border: black 3px solid;
}

.containerAlbum textarea {
    border-radius: 5px;
    border: black 3px solid;
}

.mainContainer {
    justify-content: center;
    align-self: center;
    display: flex;
    width: 100%;
    display: flex;
}

.title {
    text-align: center;
    color: #8D0801;
    font-size: 20px;
}

::file-selector-button {
    display: flex;
    border: 2px solid black;
    padding: 5px 10px 5px;
    border-radius: 5px;
    background-color: #8D0801;
    color: #F4D58D;
  }
  
  ::file-selector-button:hover {
    background-color: #2A7B9B;
    cursor: pointer;
  }

.row1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2A7B9B;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nomeBanda{

}
.nomeAlbum{
    
}

.row2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2A7B9B;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row2 .optionsGen #genero {
    width: 135%;
}



.row3 {
    color: #2A7B9B;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row5{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    align-self: center;
    justify-content: space-between;
    color: #8D0801;
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 3%;
    width: 100%;
    flex-direction: column;

}

.addfile {

    display: flex;
}

.adcAlbum {
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 67%; /* Garante que o elemento ocupe toda a largura disponível */
}


.button {
    width: 100%;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
    border: solid 3px #001427;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #F4D58D;
    background-color: #8D0801;
}

.nota input {
    width: 15%;
    text-align: center;

}

.jaEscutei {
    width: 34.7%;
}

.jaEscutei input {
    margin-right: 20px;
}



.review {
    align-self: center;
    justify-content: center;
}

.review textarea {

    margin-top: 5%;
    font-family: "Inter", sans-serif;
    width: 100%;
    border-radius: 5px;
    height: 50px;
}

.review input::placeholder {}

.nomeBanda {}

.nomeAlbum {}

.optionsGen {} 

.lancamento {}

.perfil-container {
  padding: 20px;
  text-align: center;
}

.perfil-container h1{
  font-family: "Roboto Slab", sans-serif;
  color: #8D0801;
}

hr{
  border: 1px solid #8D0801;
  margin-bottom: 3%;
  width: 60%;
}

.albuns-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.album-card {
  
  border: 2px solid #2A7B9B;
  border-radius: 8px;
  padding: 35px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #f3eeee;
}

.album-card img{
  border: 1px solid black;
}

.album-card h3 {
  text-align: center;
  margin: 0 0 30px;
  font-size: 1.2em;
}

.album-card p {
  margin: 5px 0;
  font-size: 0.9em;
}

.album-card p strong {
  font-weight: bold;
}

.album-card .nota {
  font-weight: bold;
}

.rowws{
  text-align: center;
  display: flex;
  justify-content: space-between;

}

.roww1{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.roww2{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.roww2 {
  flex-direction: column;
}


.allAlbums {
    margin-top: 5%;
    background-color: #F4D58D;
    width: 100%;
    
}

.nome-usuario {
    display: flex;
    margin-bottom: 25px;
    color: #8D0801;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto Slab", sans-serif;
}

.nome-usuario img{
    width: 30px;
    border: none;
    border-radius: 50px;
}

.nome-usuario p {
    margin-left: 5px;
}


footer {
    margin-top: 5%;
    font-family: "Inter", sans-serif;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #F4D58D;
    border-top: 5px solid #8D0801 ;
  }
  
  footer img{
   align-self: center;
    width: 10%;
  }
  
  footer ul {
   list-style: none;
    
  }
  .footer-content {
    text-align: center;
  
  }
  .footer-content p{
    text-align: center;
    margin-left: 0px;
    font-weight: bold;
  }
  .footer li a {
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: #001427;
    margin-right: 50px;
  }
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}



.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }