@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(1deg, rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(244, 213, 141, 1) 89%, rgba(244, 213, 141, 1) 40%);
  height: 1400px;
   -ms-overflow-style: none;  
  scrollbar-width: none;
  background-repeat: no-repeat;
}

.header {
  background-color: #F4D58D;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.container {
  width: 100%;
  align-self: center;
  display: flex;
}


.navbar {
  list-style: none;
  display: flex;
  gap: 20%;
  margin-left: 15%;
  align-items: center;


}

.navbar li a {
  display: flex;
  text-decoration: none;
  color: #001427;
  font-family: "Roboto Slab", serif;
}

.logo {
  display: flex;
  width: 30%;
  align-self: flex-start;
  margin-right: 50%;
}

.header .logo img {
  display: flex;
  align-self: center;
  align-items: center;
  max-width: 230px;
  display: flex;
}

.header .logo2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  display: flex;
  align-self: center;
  align-items: center;
  position: absolute;
  letter-spacing: 4px;
  color: #8D0801;
  color: inherit;
}

.header .logo2 a {
  text-decoration: none;
  color: #8D0801;
}

/* Adicione ao seu arquivo CSS */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 6px;
    padding: 0;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: #001427;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
}

.dropdown-content li a:hover {
    background-color: #2A7B9B;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.perfil-informacoes {
  font-family: "Inter", sans-serif;

}
.perfil-box {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 40px 0 40px 40px;
}

.perfil-foto img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #8D0801;
    object-fit: cover;
    background: #fff;
}

.perfil-dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perfil-container {
  padding: 20px;
  text-align: center;
}

.perfil-container h1{
  font-family: "Roboto Slab", sans-serif;
  color: #8D0801;
}

hr{
  border: 1px solid #8D0801;
  margin-bottom: 3%;
  width: 60%;
}

.albuns-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.album-card {
  
  border: 2px solid #2A7B9B;
  border-radius: 8px;
  padding: 35px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #f3eeee;
}

.album-card img{
  border: 1px solid black;
}

.album-card h3 {
  text-align: center;
  margin: 0 0 30px;
  font-size: 1.2em;
}

.album-card p {
  margin: 5px 0;
  font-size: 0.9em;
}

.album-card p strong {
  font-weight: bold;
}

.album-card .nota {
  font-weight: bold;
  color: #007BFF;
}

.rows{
  text-align: center;
  display: flex;
  justify-content: space-between;

}

.row1{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.row2{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.row2 {
  flex-direction: column;
}


.allAlbums {
    margin-top: 5%;
    background-color: #F4D58D;
    width: 100%;
    
}



